Library/
Temp/
Obj/
Build/
Builds/
Logs/
*.csproj
*.sln
*.csproj.user
*.unityproj
UserSettings/
.idea/
.vs/
.vscode/
Thumbs.db
.DS_Store
*.tmp

# 超大文件（字体SDF、未压缩音频）
Assets/Wenzi/1_Asset/4_Font/STFANGSO SDF.asset
Assets/Wenzi/1_Asset/4_Font/songti SDF.asset
Assets/Audio/Music/gameOver.wav
Assets/Audio/Music/binansuo.wav
Assets/Audio/Music/jiaotang.wav
